# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Database files
*.db
*.db-shm
*.db-wal

# Config files with secrets que está pegando o status online da API do Tailscale. Vou corrigir isso permitindo que você clique mesmo em dispositivos "offline" e deixar a verificação de conectividade
config.yaml

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

.env
